{% extends 'base.html' %}
{% block title %}
    Main
{% endblock %}
{% block style_css %}
    <link rel = 'stylesheet' type='text/css' href='{{STATIC_URL}}css/login.css' >
{% endblock style_css %}
{% block style_js %}
    <script type='text/javascript' src='{{STATIC_URL}}js/jquery.simplemodal.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}js/login.js'></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/terminal.js">
    </script>
{% endblock style_js%}
{% block body %}
    Typing 'help' for more information.<br>
    <div id='contenidoTermial'>
    </div>
    <div style="">
        root@misa-corp:$
        <input type='text' id='textTerminal' size="150" style="background-color: #1C1C1C; border:none; outline:none; color:#FE2E64;
        margin: 0px; display: inline-block;">
    </div>
    <div id="login-modal" class="login-modal" style="display:none;" >
            <div><label>Usuario:</label>
            <input type="text" id="login-usuario" autofocus="autofocus"/></div>
            <div><label>Clave:</label>
            <input type="password" id="login-clave"/></div>
            <div><input type="submit" id="login-submit" class='btn' value="Login"/></div>
            <div id="msg_login">
            </div>
    </div>
{% endblock body %}